.context-menu {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 999999;
  background: #1e1e1e;
  border-radius: 12px;
  color: #fff;
  padding: 4px 0;
  min-width: 238px;
  padding: 24px 16px;
  box-shadow: 0px 10px 40px #000000de;
  font-family: Inter, sans-serif;
  font-size: 13px;

  &.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.1s ease-in-out;
    &.disabled {
      opacity: 0.4;
      cursor: default;
      pointer-events: none;
    }
  }

  .divider {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .icon img {
    width: 24px;
    height: 24px;
    opacity: 0.6;
  }
}
