<div class="video-overlay">
  <div class="overlay-card">
    <div class="overlay-header">
      <div class="button-group">
        <button class="close-btn">
          <img src="/icons/cancel.svg" alt="close icon" (click)="unpinCamera()"/>
        </button>
        <button class="close-btn" >
          <img src="/icons/fullscreen.svg" alt="fullscreen" />
        </button>
      </div>

      <div class="live">
        <span class="indecator"></span>
        <span>Live</span>
      </div>
    </div>

    <video #videoPlayer autoplay muted loop playsinline>
      <source src="/videos/video.mp4" type="video/mp4" />
    </video>

    @if (pinnedCameras()?.name) {
    <div class="overlay-footer">{{ pinnedCameras()?.name }}</div>
    }
  </div>
</div>
