@use 'variables' as *;

.video-overlay {
  .overlay-card {
    position: relative;
    background: #0b0b0b;
    border: 3px solid $bg-gold;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.6);
    color: white;
    animation: fadeIn 0.3s ease;
  }

  .overlay-header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    width: 95%;
    z-index: 10;
    .button-group {
      display: flex;
      align-items: center;
      gap: 8px;
      .close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        border-radius: 5px;
        background: $primary-bg;
      }
    }

    .live {
      font-size: 12px;
      height: 26px;
      padding: 0px 20px;
      line-height: 20px;
      background: rgba($bg-white, 0.3);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      gap: 8px;
      align-items: center;
      border-radius: 5px;

      .indecator {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $bg-pink;
      }
    }
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
  }

  .overlay-footer {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    min-height: 26px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($bg-white, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: $text-primary;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    padding: 0px 5px;
    z-index: 10;
  }
}
