@use 'variables' as *;

.form-input-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 6px;
  width: 100%;

  .form-input-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: $text-secondary;

    .required-indicator {
      color: $error-color;
      font-weight: 600;
      margin-left: 4px;
    }
  }

  .input-wrapper {
    width: 100%;
    height: 42px;
    border: 1px solid $text-secondary;
    border-radius: 10px;
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;

    .input-icon {
      height: 30px;
      width: 47px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba($bg-white, 0.3);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);

      img {
        width: 20px;
        height: 20px;
        color: rgba($bg-white, 0.3);
      }
    }

    input {
      font-size: 16px;
      border: none;
      outline: none;
      background: transparent;
      width: 100%;
      color: inherit;

      &::placeholder {
        color: $text-secondary;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

  .error-message {
    font-size: 12px;
    color: $error-color;
    margin-top: 6px;
  }
}

@media (max-width: 600px) {
  .form-input-wrapper {
    .form-input-label {
      font-size: 13px;
    }

    .input-wrapper {
      height: 40px;
      padding: 5px;
      gap: 20px;

      .input-icon {
        height: 26px;
        width: 40px;

        img {
          width: 18px;
          height: 18px;
        }
      }

      input {
        font-size: 15px;
      }
    }

    .error-message {
      font-size: 11px;
    }
  }
}

@media (max-width: 360px) {
  .form-input-wrapper {
    .form-input-label {
      font-size: 13px;
    }

    .input-wrapper {
      height: 38px;
      padding: 6px 4px;
      gap: 12px;

      .input-icon {
        display: none;
      }

      input {
        font-size: 14px;
      }
    }
  }
}
